
*{ margin: 0; padding: 0;}

body {
	/*To hide the horizontal scroller appearing during the animation*/
	overflow: hidden;
}

.App{
    height: 100vw;
    width: auto;
	padding: 100px 0;
    background: linear-gradient(to bottom , #000526,  #551095, #b277e0 , #f3bfeb, #f9e8f3 , #fdfdfd); 
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 600;

} 

.subtitle {
    font-family: 'Inconsolata', monospace;
    font-weight: 600;
    font-size: 1rem;
}


.btn {
    box-sizing: border-box;
    height: 30px;
    width: 200px;
    appearance: none;
    background-color: transparent;
    border: 3px solid #ffffff;
    border-radius: 3rem;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    text-align: center;

  
    &:hover,
    &:focus {
        color:  #551095;
        outline: 0;
    }
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    &:hover {
        box-shadow: 0 0 40px 40px  #ffffff inset;
        background-color: #ffffff;
    }
}


.searchbox{
    width: 300px;
    height: 30px;
    background-color: #ffffff;
  /*   margin: 20vh auto; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4rem;
    padding: 5px;
    display:flex;
    align-items:center;
    justify-content: flex-start;

}


.input_containter{
    width: 90%;
    color: #000526;
    border: none;
    outline: none;
    background: none;
    padding: 0;
    margin: 0;
    transition: all .75s ease-in;
    padding-left: 0.5rem;
    display: inline-block;

}


.search_icon{
    display: inline-block;
    box-sizing: border-box;
    font-size: 1rem;
    cursor: pointer;
    background-color: #b277e0;
    transition: all .25s ease-in;
    padding: .5rem;
    border-radius: 50%;
    color: #ffffff;

    &:hover {
        transform: scale(1.5);
    }

}

